.container {
  background-image: url("../assets/img/imagen1.jpg");
  background-size: cover;

  min-height: 100vh;
}

.title {
  text-align: end;
  margin: 3rem 2rem;
  font-size: 5rem;
}

.containerCards {
  margin-top: 4rem;
  padding: 2rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 21.3rem minmax(21.3rem, 1fr);
}

@media (max-width: 1100px) {
  .containerCards {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 740px) {
  .containerCards {
    margin: 2rem auto;
  }
}

@media (max-width: 400px) {
  .containerCards {
    padding: 0;
  }
}
